@import '../../styles/mixins';

.example3{
    @include gridBox();
    border: 1px solid #40444C;
    color:white;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;

    .gridItem{
        @include gridBoxChild();
        min-height:250px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}